<div class="desk">
  <div class="container">
    <div class="containerform">
      <label for="name">Salario Basico:</label>
      <div class="input">
        <input
          type="number"
          id="SB"
          name="SB"
          minlength="4"
          maxlength="10"
          size="5"
        />
      </div>
      <br />
      <label for="name">Horas de Noche:</label>
      <div class="input">
        <input
          type="number"
          id="TN"
          name="TN"
          minlength="2"
          maxlength="3"
          size="5"
        />
      </div>
      <br />
      <label for="name">Horas Domingos o Festivos:</label>
      <div class="input">
        <input
          type="number"
          id="TDF"
          name="TDF"
          minlength="2"
          maxlength="3"
          size="5"
        />
      </div>
      <br />
      <label for="name">Horas Domingos o Festivos Nocturnos:</label>
      <div class="input">
        <input
          type="number"
          id="TDFN"
          name="TDFN"
          minlength="2"
          maxlength="3"
          size="5"
        />
      </div>
      <br />
      <div class="input">
        <input
          type="button"
          class="calcular"
          value="Calcular"
          onclick="calcular()"
        />
      </div>
      <br />

      <label for="name">Total recargos:</label>
      <div class="input">
        <input
          type="text"
          id="TR"
          name="TR"
          minlength="1"
          maxlength="20"
          size="10"
        />
      </div>

      <label for="name">Neto a pagar:</label>
      <div class="input">
        <input
          type="text"
          id="TT"
          name="TT"
          minlength="1"
          maxlength="20"
          size="10"
        />
      </div>
    </div>
  </div>
</div>
